/accounts/*

/config/backups.yaml
/config/scheduler.yaml
/config/security.yaml
/config/plugins/git-sync.yaml
/config/plugins/email.yaml

/data/*

/plugins/git-sync
/plugins/git-sync/*

**/.revs
**/.revs/*
