# Grav Root and Unused
/*.*
!.gitignore
/assets
/backup
/bin
/cache
/images
/logs
/system
/downloads
/core
user/*.*
user/accounts/*
user/config/*.*
!user/config/groups.yaml
/vendor
/webserver-configs
.revs/
