.cal {
    height: 39rem;
    position: relative;
}
.cal-controls {
    margin-bottom: 1rem;
}
.cal-container-outer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.cal-container-inner {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}
.cal-header {
    margin: 0;
    align-items: stretch;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-box-flex: none;
    flex: none;
    height: 20px;
}
.cal-header-day {
    border-right: #dadce0 1px solid;
    -moz-box-flex: 1 1 0%;
    flex: 1 1 0%;
    text-align: center;
    text-transform:uppercase;
    font-size: 12px;
}
.cal-table {
    margin: 0;
    overflow: hidden;
    -moz-box-flex: 1 1 0%;
    flex: 1 1 0%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}
.cal-row-outer {
    position: relative;
    overflow: hidden;
    border-bottom:
    #dadce0 1px solid;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-box-flex: 1 1 0%;
    flex: 1 1 0%;
}
.cal-row-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.cal-day {
    font-size: 15px;
    border-right: #dadce0 1px solid;
    color: #70757a;
    -moz-box-flex: 1 1 0%;
    flex: 1 1 0%;
    overflow-y: auto;
    overflow-x: hidden;
    .event {
        line-height: 1.4em;
        text-align: center;
        white-space: nowrap;
        color: black !important;
        p {
            margin: 0 0.3em;
            overflow: hidden;
        }
    }
}
.cal-day-tag-outer {
    width: 100%;
    text-align: center;
}
.cal-day-tag-inner {
    margin-top: 8px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .3px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    width: max-content;
    min-width: 24px;
    color: #70757a;
    line-height: 16px;
}
.cal-tag-today {
    margin-top: 3px;
    height: 24px;
    line-height: 24px;
    color: #fff;
    background-color: _palette(accent);
    -moz-border-radius: 20%;
    border-radius: 20%;
    margin-bottom: 9px;
}
.cal-month-title {
    padding: 0 0.4em;
}
.cal-button {
    font-size: 1rem !important;
    border-radius: 0.225rem;
    height: 2.1rem;
    letter-spacing: 0.045rem;
    line-height: 2.1rem;
    padding: 0 1.35rem;
    text-transform: none;
}

#cal-events-inner {
    border: solid 1px;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
#cal-events-list {
    list-style: disclosure-closed;

    a {
        border-bottom: none;
        color: black;
        display: block;
        padding: 0.5em 1em;
    }
    li {
        margin-bottom: 1em;
        padding: 0; 
    }
    .cal-list-groups {
        font-size: smaller;
    }
    
}
.Z  { // závod
    background-color: #eb9797;
}

.M  { // mapový trénink
    background-color: #f5d394;
}

.T  { // trénink
    background-color: #97c2f0;
}

.S  { // soustředění
    background-color: #a1f3a1;
}

.BZL {  // zimní mapové ligy
    background-color: #ecec9c;
}

.BBP {  // běžecké závody jako BBP
    background-color: #bfa8f0;
}

.TABOR {
    background-color: rgb(165, 248, 220);
}

.J, .V  { // jiné
    background-color: #dfdfdf;
}

.cal-legend-label {
    display: inline-block;
    margin: 2px 0;
    padding: 0 0.5em;
}
