<!-- Section -->
<section>
    <header class="major">
        <h2>Kdo jsme?</h2>
    </header>
    <p>Sk Žabovřesky Brno je klub orientačního běhu, což je mladý a rychle rozvíjející se sport. Patříme mezi nejúspěšnější kluby v ČR, naši odchovanci jsou členové reprezentačních výběrů a neztratí se ani ve světě. Jezdíme společně na závody, pořádáme soustředění a máme pravidelné tréninky pro všechny věkové skupiny.</p>
    <p>Pokud byste měli zájem se k nám připojit, napište některému z trenérů nebo se jednudoše přijďte podívat na jeden z našich tréninků.</p>
    <p>Chtěli byste podpořit náš klub a stát se sponzory? Neváhejte nás <a href="/kontakt">kontaktovat</a>.</p>
</section>
