




<section>
  {% if config.plugins.login.enabled and grav.user.authorize('site.login') %}
     <a href="/auth"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editovat</a>
     {% include 'partials/login-status.html.twig' %}
  {% else %}
      <a href="/auth" class="sneaky"><i class="fa fa-sign-in" aria-hidden="true"></i> Editovat</a>
  {% endif %}
</section>
