




<section class="alt">
  {% if config.plugins.login.enabled and grav.user.authorize('site.login') %}
    <header class="major">
            <a href="/auth"> EDITOVAT <i class="fa fa-pencil-square-o" aria-hidden="true"></i></i>
 </a>
    </header>
  {% endif %}


  {% if config.plugins.login.enabled and grav.user.authorize('site.login') %}
     {% include 'partials/login-status.html.twig' %}
  {% else %}
      <a href="{{base_url}}/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Přihlásit se</a>
  {% endif %}

          





</section>
