<div id="sidebar">
    <div id="triangle-topleft"></div>
    <div class="inner">

        <!-- Search -->
        {# % include 'partials/simplesearch_searchbox.html.twig' %} #}
        <!-- Menu -->

        <nav id="menu">
          {% include 'partials/navigation.html.twig' %}
        </nav>
        

        <nav class="alt">
          <div id="home--groups" style="display:flex;">
            <div style="flex:50%;">
              <a href="/skupiny/zabicky" class="home--groups-text">Žabičky</a>       
              <a href="/skupiny/pulci1" class="home--groups-text">Pulci&nbsp;1</a>
              <a href="/skupiny/pulci2" class="home--groups-text">Pulci&nbsp;2</a>
            </div>
            <div style="flex:50%;">
              <a href="/skupiny/dorost" class="home--groups-text">Dorost+</a>
              <a href="/skupiny/zaci1" class="home--groups-text">Žáci&nbsp;1</a>
              <a href="/skupiny/zaci2" class="home--groups-text">Žáci&nbsp;2</a>
            </div>
          </div>
        </nav>
	<!-- Login Section -->
        {% include 'partials/login.html.twig' %}

        <!-- Featured Section -->
        {% include 'partials/featured.html.twig' %}

        <!-- Contact Section -->

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; {{ site.title|e('html') }}. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
        </footer>

    </div>
</div>
