{% if theme_config['sidebarEnabled'] == 'inactive' %}
<div id="sidebar" class="inactive">
{% else %}
<div id="sidebar">
{% endif %}

    <div class="inner">

        <!-- Search -->
        {# % include 'partials/simplesearch_searchbox.html.twig' %} #}
        <!-- Menu -->

        <nav id="menu">
          {% include 'partials/navigation.html.twig' %}
        </nav>

        <section class="alt">
          <div id="home--groups" class="pure-g">
            <a href="/skupiny/zabicky" class="home--groups-text pure-u-1-2">Žabičky</a>
            <a href="/skupiny/dorost" class="home--groups-text pure-u-1-2">Dorost+</a>
            <a href="/skupiny/pulci1" class="home--groups-text pure-u-1-2">Pulci&nbsp;1</a>
            <a href="/skupiny/zaci1" class="home--groups-text pure-u-1-2">Žáci&nbsp;1</a>
            <a href="/skupiny/pulci2" class="home--groups-text pure-u-1-2">Pulci&nbsp;2</a>
            <a href="/skupiny/zaci2" class="home--groups-text pure-u-1-2">Žáci&nbsp;2</a>
          </div>
        </section>
	<!-- Login Section -->
        {% include 'partials/login.html.twig' %}

        <!-- Featured Section -->
        {% include 'partials/featured.html.twig' %}

        <!-- Contact Section -->

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; {{ site.title|e('html') }}. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
        </footer>

    </div>
</div>
