<div id="sidebar">
    <div class="inner">
        <a href="/">
          <img src="{{url('theme://images/ZBM_logo.svg')}}"/>
        </a>

        <!-- Search -->
        {# % include 'partials/simplesearch_searchbox.html.twig' %} #}
        <!-- Menu -->

        <nav id="menu">
          {% include 'partials/navigation.html.twig' %}
        </nav>
	      <!-- Login Section -->
        {% include 'partials/login.html.twig' %}

        <!-- Featured Section -->
        {% include 'partials/featured.html.twig' %}

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; {{ site.title|e('html') }}. <br>All rights reserved. <br>Design: Otakar Hirs, <br>made with <i class="fa fa-heart-o pulse"></i> using <a href="https://getgrav.org/" target="_blank">Grav</a>,<br> based on <a href="https://html5up.net" target="_blank">HTML5&nbsp;UP</a>.</p>
        </footer>
      </div>

      <!-- Kam za sportem -->
      <div style="position: absolute;bottom: 0;width: 90%;margin: 2em;">
        <a href="https://www.kamzasportemvbrne.cz/">
          <img src="https://www.kamzasportemvbrne.cz/images/logo.svg" />
        </a>
      </div>
</div>
