
    <a href="javascript:void(0);" onclick="window.scroll(0,1);" class="alt" style="display:block;">
      <i class="fa fa-level-up fa-3x" aria-hidden="true" style="display: block; text-align: center; color: #252d33;"></i>
    </a>
