{% if theme_config['sidebarEnabled'] == 'inactive' %}
<div id="sidebar" class="inactive">
{% else %}
<div id="sidebar">
{% endif %}

    <div class="inner">

        <!-- Search -->
        {# % include 'partials/simplesearch_searchbox.html.twig' %} #}
        <!-- Menu -->

        <nav id="menu">

            <a href="{{ home_url }}" style="display: block; border-bottom: none; margin-top: 0.5em; width: 100%; padding-bottom: 43.89%; position: relative; height: 0; overflow: hidden;">
                <img class="pure-img" src="{{ base_url_absolute }}/ZBM_logo.svg" style="padding: 0.5em 2em 0em 2em;">
            </a>
          <header class="major">
            <div style="width: 100%; padding-top: 0.8em; margin-bottom: 2em;"></div>
          </header>

          {% include 'partials/navigation.html.twig' %}
        </nav>

	<!-- Login Section -->
        {% include 'partials/login.html.twig' %}

        <!-- Featured Section -->
        {% include 'partials/featured.html.twig' %}

        <!-- Contact Section -->
        {% include 'partials/kdojsme.html.twig' %}

        {% include 'partials/z5nahoru.html.twig'%}

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; {{ site.title|e('html') }}. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
        </footer>

    </div>
</div>
