/*
    Place custom styles here.
*/

ul.tabs{
    display: table-cell;
    padding: 0;
}
ul.tabs li{
    cursor: pointer;
    display: block;
    padding: 0 1.5rem;
    line-height: 3rem;
    float: left;
    transition: all 0.18s;
    background-color: _palette(fg-white);
    font-weight: bold;
    &:hover {
	    color: _palette(accent);
    }
}

ul.tabs li.current{
    box-shadow: inset 0 -5px 0 _palette(accent);
    color: _palette(accent);
}

.tab-content{
    display: none;
}

.tab-content.current{
    display: inherit;
}


/* plan */
table.plan tr {
    border: none;
}
table.plan td {
    padding: 0.25em 0.75em;
}
.plan--lichyDen {
    background-color: _palette(fg-white) !important;
}
.plan--sudyDen {
    background-color: inherit !important;
}
.event--program {
    font-weight: bold;
}

/****************
***** HOME ******
****************/
/* home - news */

.newsPictures {
    margin: 1em 0 0 0;
}
.newsIMG {
    padding-bottom: 30px;
}
.newsText {
    text-align: justify;
}

.news--header_right {
    font-weight: normal;
}
/* home - soon */


#right_box {
    background-color: _palette(bg-alt-light);
    height: 100%;
    padding: 2rem 2.5rem 0 2.5rem;

    & > div:not(:first-child) {
        margin-top: 2em;
    }
}

.home__link {
    padding-right: 1em;
}

.soon__history {
    margin-top: 2em;
}

.soon__timeline {
    position: absolute;
    float: left;
    border: 2px _palette(bg-alt) solid;
    width: 0;
    left: 46px;
    margin-top: 38px;
    height: calc(100% - 249px);
}

.history__timeline {
    position: absolute;
    float: left;
    width: 4px;
    left: 46px;
    height: 400px;
    background: linear-gradient(to top, _palette(bg-alt), _palette(bg-alt-light));
}

.soon__event {
    padding: 1rem;
    margin: 1rem;
    position: relative;
    left: 1rem;
    background-color: white;
    border-radius: 5px; 
}

.soon__deadline { 
    padding: 0 1rem;
    margin: 2rem 1rem 0 1rem;
    position: relative;
    left: 1rem;
}

.soon__deadline > .entry { 
    margin: 1rem 0;
}


.history__event {
    padding: 0.5rem 1rem;
    margin: 1rem;
    position: relative;
    left: 1rem;
    background-color: white;
    border-radius: 5px;  
}
.history__title {
    margin-bottom: 0;
}

.soon__dot {
    height: 16px;
    width: 16px;
    background-color: _palette(bg-alt-light);
    border-radius: 50%;
    display: inline-block;
    top: 3px;
    position: relative;
    border: solid;
}

.soon__dot--now{
    background-color: _palette(bg-alt);
}

.soon__date {
    padding-top: 1.5rem;
    font-weight: normal;
}
.soon section > article > ul {
    margin: 0;
}

.soon__link-to-event, .soon__link-to-event:hover, .history__link-to-event, .history__link-to-event:hover {
    text-decoration: none;
    color: _palette(bg-alt) !important;
}

.soon__day {
    float: right;
    top: 3px;
    position: relative;
}

.soon form {
    margin: 0;
}
/****************
**** Program ****
****************/
#program tr {
    border: none;
}
#filter_program {
    border: _palette(bg-alt) dashed 1px;
    margin-bottom: 2em;
}
#filter_program label.pure-radio {
    margin: 2px;
}
#filter_program fieldset {
    margin: 2.2em 1.1em;
}
tr.program--now {
    border: solid _palette(bg-alt) !important;
    border-width: 0.5em 0em !important;
    td {
        padding: 0;
    }
}


/* common */
.click-row {
    cursor: pointer;
    &:hover {
        background-color: _palette(accent);
    }
}

#program .backgroundAccent{
    background-color: _palette(accent);
}
#program td.view {
    padding: 0;
    text-align: center;
    a {
        border-bottom: none;
        padding: 0.75em 0.75em; 
        color: _palette(fg) !important;
    }
    &:hover {
        background-color: _palette(accent); 
    }
}
#program td.edit{
    padding: 0;
    a {
        border-bottom: none;
        display: block;
        padding: 0.75em 0.75em;
        color: _palette(fg) !important;
    }
}





ul.tabs li.group-icon {
    display: none;
}
@include breakpoint(medium) {
    ul.tabs li.group-icon {
        display: block;
    }
    ul.tabs li.group-text {
        display: none;
    }
}

@include breakpoint(medium) {
    ul.tabs {
        display: flex;
    }
    ul.tabs li{ 
        text-align: center;
        &.group-info {
            flex: 1;
        }
        &.group-plan {
            flex: 3;
        }
        &.group-icon {
            flex: 1;
        }
    }
}


.logs-output {
    table.noflex {

        td.level .badge {
            &.error, &.critical, &.alert {
                background-color: #DC3023;
                color: #fff;
            }
            &.notice, &.warning {
                background-color: #E08A1E;
                color: #fff;
            }
            &.debug {
                background-color: #26A65B;
                color: #fff;
            }
            &.info {
                background-color: #22A7F0;
                color: #fff;
            }
            &.emergency {
                background-color: #8E44AD;
                color: #fff;
            }
        }
    }
}
.badge {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 10px;
    padding: 0px 6px;
    min-width: 20px;
    line-height: 20px;
    text-align: center;
}

/* commento */
#commento {
    .commento-button {
        color: white !important;
    }
    .commento-input:focus {
        box-shadow: none;
    }
    .commento-root textarea:focus {
        box-shadow: none;
    }
    .commento-option-button {
        box-shadow: none;
    }
    textarea:focus {
        box-shadow: none;
    }
    .commento-submit-button {
        background-color: _palette(accent);
    }

}

.comment-count {
    color: inherit;
    border-bottom: none;
}



#sidebar a.sneaky{
    color: #555;
    &:hover {
        color: _palette(accent);
    }
}