{% extends 'partials/base.html.twig' %}

{% block body %}
    <section>
        <header class="main">
            <h1>{{ page.title }}</h1>
            <h2 class="posttime">Posted {{ page.date|nicetime(false) }}</h2>
        </header>
        {% if page.header.primaryImage %}
            {% set primaryImage = ((page.header.primaryImage)|first) %}

            <span class="image main">{{ page.media[primaryImage.name].html() }}</span>
        {% endif %}
        {% block content %}{{ page.content }}{% endblock %}
    </section><!-- End section -->
{% endblock %}
