{% extends 'partials/base.html.twig' %}

{% block body %}
<section>
    <header class="main">
    </header>
    {% if page.header.primaryImage %}
        {% set primaryImage = ((page.header.primaryImage)|first) %}

        <span class="image main">{{ page.media[primaryImage.name].html() }}</span>
    {% endif %}
    {% block content %}
      {{ page.content }}
    {% endblock %}
</section><!-- End section -->
{% endblock %}
