{% extends 'partials/base.html.twig' %}


{% block header %}
    <header id="header">
        <h1>
            <a href="/auth/plan" class="plan--header">Tento týden</a>
	    <a href="/auth/plan-next" class="plan--header">Příští týden</a>
            <a href="/auth/plan-templates" class="plan--header">Šablony</a>
            <script>
               $("a[href$='" + location.pathname + "']").addClass("current"); 
            </script>
        </h1>
    </header><!-- End #header -->
{% endblock %}

{% block content %}
    {{ page.content }}
{% endblock %}

