{% extends 'partials/base.html.twig' %}
{% block header %}

{% endblock %}
{% block body %}
            <section>
                {% block content %}{{ page.content }}{% endblock %}
            </section><!-- End section -->
{% endblock %}
